html,
body {
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  background: #e9ecef;
  overflow: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #b5bac4;
}
